.signin {
  height: 100vh;
  background-color: #dcfdf2;
  color: white;
  font-family: "Fjalla One", sans-serif;
}

/* Customize where the boxes are */
.signin-container {
  background-color: #2ecf96;
  padding: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.signin-title {
  font-size: 50px;
}

/* Customize all input boxes */
.signin-text-input {
  background-color: white;
  width: 50%;
  padding: 15px 20px;
  margin: 15px 0;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  color: black;
}

.btn-primary {
  background-color: #104432;
  border-color: #104432;
}
.btn-primary:hover {
  background-color: #141615;
  border-color: #141615;
}

.back-btn {
  float: left;
}

.back-btn:hover {
  cursor: pointer;
}
